body {
    background-color:rgb(20, 10, 10);
    color:rgb(140, 179, 179);
}

h1 {
    color: #a52a2a;
}

.job-title {
    background-color:#4b300d;
    color: #aab436;
}


#high{

    color: #00ffff;
}

ul {
    background-color:#a52a2a;
    color: #7fff00;
}